.container {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}

.show {
  display: block;
}

.hide {
  display: none;
}

img {
  width: 100%;
  transition: 0.5s ease-in-out;
  object-fit: contain;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.4);
}

.show-text {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.show-text > span {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dots-container {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.dots {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.dots.bg-dots {
  background-color: lightblue;
}
