#outer {
  margin-top: 10px;
  width: 500px;
  height: 25px;
  padding: 0px;
  border: 1px solid #000;
  border-radius: 25px;
  overflow: hidden; /* important to clip inner bar */
}

#inner {
  margin: 0px;
  width: 10%; /*dynamic progress*/
  height: 25px;
  background-color: #000;
  transition: 0.1s ease-in-out; /*smooth animation when width changes*/
  text-align: right; /* so span inside moves to the end */
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}
